@*@model MovieShop.Core.Models.Response.MovieDetailsResponseModel*@

<div class="card text-white" style="margin-bottom:20px">
    <img src="@Model.BackdropUrl" alt="@Model.Title background"class="card-img" style=" filter: brightness(20%);">
    <div class="card-img-overlay">
        <div class="row">
            <div class="col">
                <img class="img-fluid" src="@Model.PosterUrl" alt="@Model.Title" />
            </div>
            <div class="col">
                @*movie title and other general information*@
                <div>
                    <h1>@Model.Title</h1>
                    <p>@Model.Tagline</p>
                    @*Genres*@
                    <div>
                        @foreach (var genre in Model.Genres)
                        {
                            <span class="badge badge-secondary">@genre.Name</span>
                        }
                    </div>
                    <p>@Model.RunTime m | @Model.ReleaseDate.ToString("yyyy")</p>
                    <p>@Model.Overview</p>
                </div>
            </div>
            <div class="col">
                <div style="position:relative; top:15%">
                    <a asp-controller="User" asp-action="Review" asp-route-id="@Model.Id" class="btn btn-dark btn-block mb-3" type="button">REVIEW</a>
                    <button class="btn btn-dark btn-block mb-3" type="button">TRAILER</button>
                    <a asp-controller="User" asp-action="Buy" asp-route-id="@Model.Id" class="btn btn-light btn-block">BUY</a>
                    <button class="btn btn-light btn-block" type="button">WATCH MOVIE</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <h4>MOVIE FACTS</h4>
        <ul class="list-group">
            <li class="list-group-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-check-fill" viewBox="0 0 16 16">
                    <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-5.146-5.146l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708z" />
                </svg>
                Release Date
                <span class="badge badge-secondary">@Model.ReleaseDate.ToString("MM/dd/yyyy")</span>
            </li>
            <li class="list-group-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hourglass-split" viewBox="0 0 16 16">
                    <path d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2h-7zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48V8.35zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z" />
                </svg>
                Run Time
                <span class="badge badge-secondary">@Model.RunTime m</span>
            </li>
            <li class="list-group-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash" viewBox="0 0 16 16">
                    <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
                    <path d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z" />
                </svg>
                Box Office
                <span class="badge badge-secondary">$@Model.Revenue.ToString("C")</span>
            </li>
            <li class="list-group-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet" viewBox="0 0 16 16">
                    <path d="M0 3a2 2 0 0 1 2-2h13.5a.5.5 0 0 1 0 1H15v2a1 1 0 0 1 1 1v8.5a1.5 1.5 0 0 1-1.5 1.5h-12A2.5 2.5 0 0 1 0 12.5V3zm1 1.732V12.5A1.5 1.5 0 0 0 2.5 14h12a.5.5 0 0 0 .5-.5V5H2a1.99 1.99 0 0 1-1-.268zM1 3a1 1 0 0 0 1 1h12V2H2a1 1 0 0 0-1 1z" />
                </svg>
                Budget
                <span class="badge badge-secondary">$@Model.Budget.ToString("C")</span>
            </li>
        </ul>
    </div>
    <div class="col-8">
        @*cast list*@
        <h4>CAST</h4>
        <ul class="list-group">
            @foreach (var cast in Model.Casts)
            {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-3">
                            <img src="@cast.ProfilePath" class="rounded-circle" alt="@cast.Name" height="50" />
                        </div>
                        <div class="col">
                            @cast.Name
                        </div>
                        <div class="col">
                            @cast.Character
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
